.illustration { 
	max-width: 100%; 
	max-height: 180px;
	}


.win {
	color: green;
	}
	
.loss{
	color: red;
}

.tkt{
	margin: 0 auto;
	align-self: center;
	padding: 0px;
}
.block{
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px 5px 5px 5px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	margin: 10px;
	padding: 10px;
	float: left;
	width: 100px;
	color: red;
}
.tkt .block .a{
	direction: none;
	color: black;
}
.blk{
    margin: 10px;
	padding: 10px;
	float: left;
	width: 100px;
        }
.block:hover{
	background-color: rgba(216, 213, 209, 0.815);
}

